{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb(_('Function Key Templates'), '', 'th-list', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers(_('Function Key Templates'), 'th-list') %}
      {% call build_list_table() %}
        {% call build_list_table_headers(get=url_for('.FuncKeyTemplateView:get', id=''), delete=url_for('.FuncKeyTemplateView:delete', id='')) %}
          <th>{{ _('Name') }}</th>
        {% endcall %}
        {% call(funckey_template) build_list_table_rows(resource_list['items']) %}
          <td>{{ funckey_template.name }}</td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers(_('Add FuncKey Template')) %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value=_('Add')) %}
          {{ render_field(form.name) }}
          {{ render_field(form.keys) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
